*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
   
}
.number{
   
    font-size: 30px;
}
.project{
    margin-bottom: 20px;
}